.container-fluid {
  .contentContainer {
    background: white;
    padding: 30px;
    margin: 30px auto;
    border-radius: 10px;
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .contentContainer {
    width: 90% !important;
  }
}
