.content {
  .state {
    width: 100%;
    p {
      display: block;
      width: 100%;
      text-align: right;
      color: #646e76;
      text-transform: capitalize;
      font-size: 13px;
      span {
        color: #000000;
      }
    }
  }
  .steps {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    .backRow {
      position: absolute;
      width: 75%;
      height: 2px;
      background-color: #eeeeee;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
    }
    .step,
    .step:active,
    .step:focus,
    .step:hover {
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 1;
      background-color: white;
      border: 0 !important;
      outline: 0 !important;
      box-shadow: none !important;
      cursor: pointer;
      span {
        display: block;
        font-size: 13px;
        color: #262521;
      }
      img {
        width: 60px;
        &.checked {
          display: none;
        }
      }
      &.doneStep {
        img.check {
          display: none !important;
        }
        img.checked {
          display: inline;
        }
        span {
          color: #127f46;
          font-weight: bold;
        }
      }
    }
  }
  .dragArea {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1pt dashed #909db4;
    flex-direction: column;
    text-align: center;
    img {
      width: 80px;
      margin-bottom: 5px;
    }
    p {
      margin: 0;
      &.hint1 {
        color: #000000;
        font-size: 16px;
      }
      &.hint2 {
        color: #aab5be;
        font-size: 12px;
      }
    }
    button,
    button:hover,
    button:focus,
    button:active {
      border: 0;
      background-color: #ab8439 !important;
      border-radius: 45px;
      padding: 10px 20px;
      outline: 0 !important;
      box-shadow: none !important;
      margin-top: 5px;
    }
  }
  .uploadOptions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    img {
      border-left: 2pt solid #f7f7f7;
      cursor: pointer;
      height: 40px;
    }
  }
  .files {
    .file {
      width: 100%;
      border: 1pt solid #eeeeee;
      border-radius: 10px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      margin: 10px 0;
      .leftData {
        display: flex;
        align-items: center;
        img {
          width: 70px;
        }
        .fileData {
          padding: 0 10px;
          p {
            margin: 0;
            line-height: 18px;
          }
          span {
            color: #636467;
            display: block;
            font-size: 11px;
          }
        }
      }
      .rightData {
        img {
          width: 20px;
        }
      }
    }
  }
}
