.uploadOptions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  img {
    border-left: 2pt solid var(--gray);
    cursor: pointer;
    height: 40px;
  }
}
