.container-fluid {
  .accordion {
    position: relative;
    span.column {
      position: absolute;
      display: block;
      width: 3px;
      height: 100%;
      left: 30%;
      background-color: #bebebe;
      transform: translateX(-30%);
    }
  }
}
.divider {
  margin-top: 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 510px) {
  img.checked {
    right: 0 !important;
  }
}
