.uploadPhoto {
  position: relative;
  img {
    width: 100%;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    img {
      width: 11px;
      margin: 0 2px;
    }
  }
}
