@import "../../../../sass/variables";
body {
  background-color: var(--gray) !important;
  padding-bottom: 200px;
}
.card {
  overflow: unset !important;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none !important;
  .card-header {
    border-radius: 10px !important;
    padding: 15px 20px !important;
  }
  .card-body {
    padding: 10px 25px;
    input::placeholder {
      color: var(--gray16);
      font-size: 12px;
    }

    .radioButtons {
      display: flex;
      align-items: center;
      .form-check {
        position: relative;
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 0px;
        label {
          padding: 5px 0 5px 40px;
          margin: 0 30px 0 0;
          z-index: 99;
          &.noText {
            padding: 0 !important;
            margin: 0 !important;
          }
          cursor: pointer;
          input {
            visibility: hidden;
            margin: 0;
            &:checked ~ .checkMark {
              background-image: url(../../../../assets/checkedColored.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }
          }
          i.checkMark {
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: white;
            border: 1pt solid var(--success);
            display: flex;
            top: 0;
            left: 0;
            border-radius: 50%;
          }
        }
      }
    }
    .splitTitle {
      position: relative;
      h5 {
        color: black;
        z-index: 1;
        background-color: white;
        padding: 5px;
        font-weight: normal;
        font-size: 25px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 99%;
        height: 2px;
        background-color: var(--gray15);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.submittion-btn {
  width: 170px;
  border-radius: 50px;
  z-index: 1;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  strong {
    font-weight: normal;
  }
  img {
    width: 15px;
    margin-left: 5px;
  }
}

.done {
  background: var(--success) !important;
  border-radius: 10px !important;
  position: relative;
  .row {
    img {
      &.whiteIc {
        display: inline !important;
      }
      &.greenIc {
        display: none !important;
      }
    }
    h3 {
      color: white !important;
    }
    .checked {
      display: block !important;
    }
  }
}

.tableParent {
  overflow-x: scroll;
  table {
    width: 691px;
  }
}

.table {
  border: 0 !important;
  border-collapse: unset;
  border-spacing: 0;
  margin: 10px auto;
  thead {
    tr {
      th {
        color: white;
        background-color: var(--gray7);
        border: 0;
        font-size: 12px;
        padding: 15px;
        &:first-child {
          border-radius: 7px 0 0 0;
        }
        &:last-child {
          border-radius: 0 7px 0 0;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: 13px;
        padding: 15px;
        font-weight: bold;
        &:first-child {
          border-radius: 7px 0 0 7px;
          border-left: 1px solid var(--gray20);
        }
        &:last-child {
          border-radius: 0 7px 7px 0;
          border-right: 1px solid var(--gray20);
        }
        img {
          width: 15px;
          cursor: pointer;
        }
      }
      &:last-child {
        td {
          border-bottom: 1px solid var(--gray20);
        }
      }
    }
  }
}

.fullScreenModal {
  .modal-dialog {
    width: 100%;
    max-width: none;
    top: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    .modal-content {
      border-radius: 0 !important;
      .modal-header {
        border: 0;
        border-radius: 0;
        box-shadow: 0px -7px 23px var(--customBlack2);
        padding: 0;
        .modal-title {
          display: block;
          width: 90%;
          .back {
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1pt solid var(--gray21);
            cursor: pointer;
            float: left;
            img {
              width: 17px;
            }
          }
          .title {
            padding: 0 25%;
            h1 {
              font-size: 20px;
              font-weight: 500;
              line-height: 60px;
              margin: 0;
              text-transform: capitalize;
            }
          }
        }
        .close {
          display: none;
        }
      }
      .modal-body {
        padding-left: 0;
        padding-right: 0;
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}

.required {
  color: var(--danger);
  margin-left: 10px;
}

.save-edit-btn,
.cancel-edit-btn {
  width: 150px;
  border-radius: 50rem;
  z-index: 1;
  // margin-bottom: -90px;
  height: 40px;
  font-size: 16px;
  margin: 10px;
}

.custom-control.custom-checkbox {
  input:checked ~ label::after {
    background-color: var(--success) !important;
    background-image: url(../../../../assets/rightMark2.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
  }
  label {
    display: flex;
    align-items: center;
    justify-self: start;
    // width: 20px;
    padding-top: 2px;
    padding-left: 5px;
    &::before,
    &::after {
      width: 20px;
      height: 20px;
      border-radius: 0;
      border: 1pt solid var(--gray22);
      box-shadow: none !important;
    }
    &::before {
      background-color: white;
    }
  }
}
