html[lang=ar]{
  .pageHeader{
    h4{
      text-align: right;
    }
    .saveOrCancel{
      left: 13px;
      right: auto;
    }
    .breadcrumb{
      padding-right: 0;
      padding-left: 15px;
      .breadcrumb-item{
        + .breadcrumb-item{
          padding-left: 0;
          padding-right: 0.5rem;
          &::before{
            padding-right: 0;
            padding-left: 0.5rem;
          }
        }
      }
    }
  }
}
.pageHeader {
  box-shadow: 0 0px 5px -2px #000000;
  background-color: #ffffff !important;
  min-height: 70px;
  position: relative;
  .saveOrCancel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    img {
      width: 50px;
      cursor: pointer;
    }
  }
  // .exitSubmitionModal {
  //   .modal-body{
  //     background: red;
  //   }
  // }
  .row {
    width: 100%;
  }
  h4 {
    font-size: 18px;
  }
  .breadcrumb {
    background: inherit;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 0;
    align-items: center;
    justify-content: flex-end;
  }
  nav {
    li {
      display: flex;
      align-items: center;
      a {
        color: black;
        text-decoration: none;
        font-size: 13px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .pageHeader {
    text-align: center;
  }
  .pageHeader .breadcrumb {
    justify-content: center;
  }

  html[lang=ar]{
    .pageHeader h4 {
      text-align: center;
    }
  }
}
