.pageHeader {
  box-shadow: 0 0px 5px -2px #000000;
  min-height: 70px;
  position: relative;
  .saveOrCancel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    img {
      width: 50px;
      cursor: pointer;
    }
  }
  .exitSubmitionModal {
  }
  .row {
    width: 100%;
  }
  h4 {
    font-size: 18px;
  }
  .breadcrumb {
    background: inherit;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 0;
    align-items: center;
    justify-content: flex-end;
  }
  nav {
    li {
      display: flex;
      align-items: center;
      a {
        color: black;
        text-decoration: none;
        font-size: 13px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .pageHeader {
    text-align: center;
  }
  .pageHeader .breadcrumb {
    justify-content: center;
  }
}
