.addpartnerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  img {
    width: 100px;
    cursor: pointer;
  }
  p {
    font-size: 28px;
    text-transform: capitalize;
    cursor: pointer;
  }
}

.table {
  border: 0 !important;
  border-collapse: unset;
  border-spacing: 0;
  thead {
    tr {
      th {
        color: white;
        background-color: #c0c0bb;
        border: 0;
        font-size: 13px;
        padding: 15px;
        &:first-child {
          border-radius: 7px 0 0 0;
        }
        &:last-child {
          border-radius: 0 7px 0 0;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        // #E2E6ED
        font-size: 13px;
        padding: 15px;
        font-weight: bold;
        &:first-child {
          border-radius: 7px 0 0 7px;
          border-left: 1px solid #e2e6ed;
        }
        &:last-child {
          border-radius: 0 7px 7px 0;
          border-right: 1px solid #e2e6ed;
        }
      }
      &:last-child {
        td {
          border-bottom: 1px solid #e2e6ed;
        }
      }
    }
  }
}
