.footer {
  background-color: #ffffff !important;
  padding-top: 0px;
  box-shadow : none;
}
.progress-container {
  width: 100%;

}
.statistics-container{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.progress {
  width: 100%;
  height : .5rem;
  background-color : inherit;
  margin-bottom: 10px;
}