.reLocationComponent {
  .card-header {
    background-color: var(--white);
    border-bottom: none;
  }
  .staticData {
    .staticDataContent {
      background-color: var(--white);
      min-height: 100px;
      width: 100%;
      p {
        margin: 0;
        font-weight: bold;
        color: var(--black);
      }
      span {
        color: var(--gray16);
      }
    }
  }
}
