@import "../../../sass/variables";
.arrow_with_header {
  display: flex;
  margin-left: 30px;
}
.step-arrow {
  width: 60px;
}
.next-btn {
  margin-right: 10px;
}
.prev-btn {
  margin-left: 10px;
}
.go_to_workspace {
  border-radius: 23px;
  color: #fff;
  background-color: #127f46;
  border: #127f46;
  cursor: pointer;
  padding: 10px 50px;
}
.go_to_workspace:hover {
  color: #fff;
  background-color: #08532d;
  border: #08532d;
}

.app-submit-bottom {
  display: flex;
}
.img_fluid_custome {
  /* margin-left: 180px; */
  float: right;
}
.buttom-images {
  padding-top: 0px;
}
#fileComplaint_description {
  width: fit-content;
}
.upload_content {
  text-align: center;
}

.file_upload {
  border: 1px dashed #10703f;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  background: #fafafa;
  cursor: pointer;
  transition: border-color 0.3s;
}
.dragger-upload-button {
  margin-bottom: 10px;
}
.stepper img {
  background-color: rgba(0, 0, 0, 0.05);
  /* background-color: #f5f5f5; */
  height: 50px;
  margin-left: -9px;
  margin-top: -6px;
  border-radius: 84px;
  margin-right: -9px;
}
.step-btn .go_to_preview {
  border-radius: 24px;
  transform: translate(0, 30%);
  background-color: $custom-green;
  border-color: $custom-green;
}
.prev_custom_btn {
  margin: 20px;
}
.next_custom_btn {
  margin: 20px 20px;
}
.rightArrow {
  width: 54px;
}
.leftArrow {
  width: 54px;
}

//final approval style
.final_approval_file_upload {
  border: 1px dashed #10703f;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  background: #fafafa;
  cursor: pointer;
  transition: border-color 0.3s;
  text-align: center;
}
.final_attachment_subtitle {
  color: $custom-green;
  font-size: medium;
  font-weight: bold;
}
.final_attachment_title {
  color: black;
  font-size: xx-large;
  font-weight: 400;
}
.final_attachment_main_card {
  padding: 40px;
  border: none !important;
  box-shadow: 0px 3px 6px grey !important;
}
.final_approval_uploaded_file_card {
  border: none !important;
  margin-bottom: 1rem;
  //flex-direction: row !important;
  margin-top: 15px;
  border-radius: 3px;
  box-shadow: 0px 3px 6px grey !important;
}
.align-me {
  align-items: center;
  display: flex;
  //justify-content: center;
}
.final_attachment_submit_btn {
  height: 55px;
  width: 234px;
}

// here is the service card css
.title_for_service {
  margin-top: 10px;
}
.title_for_service_status {
  display: flex;
  margin-top: 5px;
}
.title_for_service_applicationno {
  display: flex;
  margin-top: 5px;
}
.footer_button {
  text-align: end;
  margin-top: 40px;
}
.details_button {
  background-color: #ab8439;
  border-radius: 23px;
  color: #fff;
  border: #127f46;
  cursor: pointer;
  padding: 10px 50px;
}
.download_button {
  margin-left: 10px;
  background-color: #127f46;
  border-radius: 23px;
  color: #fff;
  border: #127f46;
  cursor: pointer;
  padding: 10px 50px;
}
.anticon-download svg {
  height: 17px;
  width: 20px;
  margin-right: 10px;
}

// This is Notification
.main_tag {
  display: flex;
  height: 50px;
}
.description {
  font-size: 11px;
  /* margin: 0px; */
  margin-top: -8px;
}
.notification_image img {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 15px;
}
.sub_tag {
  text-align: start;
  margin-left: 10px;
}
