@import "./sass/variables";
@import "./sass/translate";
@import "./sass/responsive";

@import "~bootstrap/scss/bootstrap";

.custom_btn {
  background-color: black;
}

@font-face {
  font-family: DroidKufi-Regular;

  src: url(fonts/DroidKufi/DroidKufi-Regular.ttf);
}

@font-face {
  font-family: DroidKufi-Bold;

  src: url(fonts/DroidKufi/DroidKufi-Bold.ttf);
}
