.reLocationComponent {
  .card-header {
    background-color: #fff;
    border-bottom: none;
  }
  .oldData {
    .oldDataContent {
      background-color: #ffffff;
      min-height: 100px;
      width: 100%;
      border-radius: 10px;
      border: 1pt solid #ebebeb;
      box-shadow: 0px 0px 16px -7px #00000033;
      padding: 20px 25px;
      p {
        margin: 0;
        font-weight: bold;
        color: #000000;
      }
      span {
        color: #9e9e9e;
      }
    }
  }
}
